/* node_modules/@fontsource/roboto/latin.css */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(./roboto-latin-100-normal-H6TJBNRU.woff2) format("woff2"), url(./roboto-latin-100-normal-YUJTHTMH.woff) format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./roboto-latin-300-normal-UTVOGLJS.woff2) format("woff2"), url(./roboto-latin-300-normal-ABUYDP3P.woff) format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./roboto-latin-400-normal-6KEU5XHX.woff2) format("woff2"), url(./roboto-latin-400-normal-EJHJLMHI.woff) format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./roboto-latin-500-normal-GFYP3GVJ.woff2) format("woff2"), url(./roboto-latin-500-normal-4V2IYO32.woff) format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./roboto-latin-700-normal-OGZL5OBM.woff2) format("woff2"), url(./roboto-latin-700-normal-XVA5DTOC.woff) format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(./roboto-latin-900-normal-F6K4DHV7.woff2) format("woff2"), url(./roboto-latin-900-normal-D3REAFJP.woff) format("woff");
}

/* src/index.css */
body {
  font-family: "Roboto", sans-serif;
}
